.footer {
  background-color: var(--contact-color);
  grid-column: 1 / -1;
  grid-row: 6 / 7;
  position: relative;
  transform: translateY(-1px);

  &__links {
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;

    @media only screen and (max-width: $bp-medium) {
      width: 85%;
    }

    &::after {
      position: absolute;
      top: 2.5rem;
      content: "";
      height: 0.5px;
      width: 70%;
      display: block;
      background-color: #000;

      @media only screen and (max-width: $bp-medium) {
        width: 85%;
      }
    }
  }

  &__link {
    font-family: $font-links;
    font-size: 1.5rem;
    width: 20%;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    color: #000;

    @media only screen and (max-width: $bp-medium) {
      font-size: 1.2rem;
    }
    @media only screen and (max-width: $bp-mobile) {
      font-size: 1rem;
    }
    @media only screen and (max-width: $bp-smallMobile) {
      font-size: 0.9rem;
    }
  }

  &__link:hover {
    text-decoration: none;
    color: #000;
  }

  &__copyright {
    font-family: $font-links;
    font-size: 1.5rem;
    text-align: center;
    letter-spacing: 2px;

    @media only screen and (max-width: $bp-medium) {
      font-size: 1.2rem;
      margin: 1rem;
    }
    @media only screen and (max-width: $bp-mobile) {
      font-size: 1rem;
    }
    @media only screen and (max-width: $bp-smallMobile) {
      font-size: 0.9rem;
    }
  }

  @media only screen and (max-width: $bp-medium) {
    grid-row: 7 / 8;
  }
}
