.carousel-control-prev,
.carousel-control-next {
  @media only screen and (max-width: $bp-large) {
    width: 5% !important;
  }
}

.carousel-control-prev {
  transform: translateX(-10rem);

  @media only screen and (max-width: $bp-medium) {
    transform: translate(-5rem);
  }
  @media only screen and (max-width: $bp-mobile) {
    transform: translate(-3rem);
  }
}
.carousel-control-next {
  transform: translateX(10rem);

  @media only screen and (max-width: $bp-medium) {
    transform: translate(5rem);
  }
  @media only screen and (max-width: $bp-mobile) {
    transform: translate(3rem);
  }
}

.carousel-control-prev-icon {
  background-image: url("../media/left-chevron.png") !important;
  filter: invert(100%);

  @media only screen and (max-width: $bp-mobile) {
    width: 10px !important;
    height: 10px !important;
  }
}
.carousel-control-next-icon {
  background-image: url("../media/right-chevron.png") !important;
  filter: invert(100%);

  @media only screen and (max-width: $bp-mobile) {
    width: 10px !important;
    height: 10px !important;
  }
}
