// FONT-VARIABLES
$font-primary: "Glory", sans-serif;
$font-title: "Indie Flower", cursive;
$font-description: "Inconsolata", monospace;
$font-button: "Bebas Neue", cursive;
$font-links: "Benne", serif;

// Breakpoint variables
$bp-large: 68.75em; //1100px
$bp-medium: 57.5em; //920px
$bp-small: 50.063em; //801px
$bp-vsmall: 46.563em; //745px
$bp-mobile: 39.375em; //630px
$bp-smallMobile: 20em; // 320px

$bp-medHight: 37.5em; //600px
